[Unit]
Description=Notify Service
After=network.target

[Service]
Type=simple
User=notify
Group=notify
WorkingDirectory=${{ secrets.SERVER_TARGET }}
ExecStart=/usr/local/bin/notify
Restart=always
RestartSec=5

StandardOutput=append:${{ secrets.SERVER_TARGET }}/logs/notify.log
StandardError=append:${{ secrets.SERVER_TARGET }}/logs/notify.error.log

[Install]
WantedBy=multi-user.target 